header {
    background: #CAB8FF !important;
  
  
}
.navbar-light{
    background-color: #937cc8;
   
}

footer {
    background: #c6c6c6 !important;
    padding: 32px;
}
body{
    padding: 50px 0px 0px 0px;
    z-index: 0;
}
.col-12{
    margin-bottom: 20px;
}

.tab-content{
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    padding: 10px;
}